@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


* {
  box-sizing: border-box;
}

mat-card {
  padding: 24px !important;
}

mat-icon-button {
  margin-right: 4px;
}

mat-card-title > span {
  padding: 12px 32px 12px 12px !important;
}
